@model KinderFirst.Controllers.SectionDetails

@{
    <div class="tutorials-body">
        <table>
            <tr>
                <td style="" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a href="#" onclick="ChangePic(1)">
                        <img class="img-responsive tutorial-selection hvr-grow-shadow" src="@Url.Content(String.Format("~/Content/Images/{0}1.jpg", Model.Id))" />
                    </a>
                </td>
                <td rowspan="3" class="col-lg-9 col-md-9 col-sm-9 col-xs-9 box-shadow">
                    <div class="tutorial-details-container">
                        <img id="1" class="img-responsive mine tutorial-details" src="@Url.Content(String.Format("~/Content/Images/{0}1Big.jpg", Model.Id))" />
                        <img id="2" class="img-responsive mine hiddenPic tutorial-details" src="@Url.Content(String.Format("~/Content/Images/{0}2Big.jpg", Model.Id))" />
                        <img id="3" class="img-responsive mine hiddenPic tutorial-details" src="@Url.Content(String.Format("~/Content/Images/{0}3Big.jpg", Model.Id))" />
                    </div>

                </td>
            </tr>
            <tr>
                <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a href="#" onclick="ChangePic(2)">
                        <img class="img-responsive tutorial-selection hvr-grow-shadow" src="@Url.Content(String.Format("~/Content/Images/{0}2.jpg", Model.Id))" />
                    </a>
                </td>
            </tr>
            <tr>
                <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a href="#" onclick="ChangePic(3)">
                        <img class="img-responsive tutorial-selection hvr-grow-shadow" src="@Url.Content(String.Format("~/Content/Images/{0}3.jpg", Model.Id))" />
                    </a>
                </td>
            </tr>
        </table>

        <script>
            function ChangePic(number) {
                $(".mine").each(function () {
                    if (!$(this).hasClass("hiddenPic")) {
                        $(this).addClass("hiddenPic");
                    }
                });
                if ($("#" + number).hasClass("hiddenPic")) {
                    $("#" + number).removeClass("hiddenPic");
                }
            }
        </script>

    </div>
}