@model KinderFirst.Models.Age
@Styles.Render("~/Content/jcrop")

<div class="modal-body age-filter-body">
    <div class="row">

            @using (Ajax.BeginForm("CheckAge", "Pictures", new AjaxOptions()
            {
                HttpMethod = "POST",
                OnBegin = "OnAjaxRequestBegin",
                OnFailure = "OnAjaxRequestFailure",
                OnSuccess = "OnAjaxRequestSuccess",
                OnComplete = "OnAjaxRequestComplete"
            }))
            {

                <div class="form-horizontal">

                    <div class="age-filter-text">

                        <h2>Скъпи родители,</h2>
                        <br />
                        <p>Ние създадохме този сайт за вас и вашето семейство, за да Ви предоставим възможност да участвате в нашата кампания.</p>
                        <p>За да посетите този сайт, трябва да сте над 12-годишна възраст, или да имате разрешение от родител.</p>
                        <br />
                        <br />
                    </div>

                    <div class="row age-filter-input">
                        @Html.ValidationSummary(true)

                        @Html.EditorFor(model => model.Day, new { htmlAttributes = new { @class = "control-label col-md-2 age-filter-box", placeholder = "ДД" } })
                        @Html.ValidationMessageFor(model => model.Day)

                        @Html.EditorFor(model => model.Month, new { htmlAttributes = new { @class = "control-label col-md-2 age-filter-box", placeholder = "ММ" } })
                        @Html.ValidationMessageFor(model => model.Month)

                        @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "control-label col-md-2 age-filter-box", placeholder = "ГГГГ" } })
                        @Html.ValidationMessageFor(model => model.Year)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <br />
                        <button type="submit" id="approve-btn" class="btn btn-danger btn-enter hvr-grow-shadow">Влез</button>
                    </div>
                </div>
                //Html.EnableUnobtrusiveJavaScript(false);
            }
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryform")
