<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="navbar-btn-custom">@Html.ActionLink("Начало", "Index", "Home")</li>
                    <li class="dropdown navbar-btn-custom">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Уроци</a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("SetSectionTutoPic", "Pictures", new  {id="paper"})">Хартия</a></li>
                            <li><a href="@Url.Action("SetSectionTutoPic", "Pictures", new  {id="naturalmaterial"})">Подръчни материали</a></li>
                            <li><a href="@Url.Action("SetSectionTutoPic", "Pictures", new  {id="cardboard"})">Картон</a></li>
                            <li><a href="@Url.Action("Printables", "Pictures", new  {id="printables"})">Шаблони</a></li>
                        </ul>
                    </li>
                    <li class="navbar-btn-custom">@Html.ActionLink("Галерия", "Gallery", "Pictures")</li>
                    <li class="navbar-btn-custom">@Html.ActionLink("Награди", "Rewards", "Home")</li>
                    <li class="navbar-btn-custom">@Html.ActionLink("Печеливши", "Winners", "Home")</li>
                    <li class="navbar-btn-custom">@Html.ActionLink("Правила", "Rules", "Home")</li>
                    <li class="navbar-btn-custom">@Html.ActionLink("Админ", "Index", "AdminUpload")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container body-content">
        @RenderBody()
    </div>

    <footer class="wave-div">
        <div class="footer-text">&copy; @DateTime.Now.Year - Kinder Milch-Schnitte</div>
        <div class="sub-menu col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Html.ActionLink("Начало", "Index", "Home")
            @Html.ActionLink("Галерия", "Gallery", "Pictures")
            @Html.ActionLink("Награди", "Rewards", "Home")
            @Html.ActionLink("Печеливши", "Winners", "Home")
            @Html.ActionLink("Правила", "Rules", "Home")
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-content"></div>
    </div>
    <script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();
            // Initialize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });
            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>
</body>
</html>
