<div class="container index-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="img-responsive box-shadow" src="~/Content/Images/background.jpg" id="homeBackground" />

            <table class="index-body-btns col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <tr>
                    <td>
                        <a type="button" class="btn-toys" href="@Url.Action("SetSectionTutoPic", "Pictures", new  {id="paper"})" role="button">
                            <img class="img-responsive grow-big" src="~/Content/Images/paper.png" />
                        </a>
                    </td>
                    <td>
                        <a type="button" class="btn-toys" href="@Url.Action("SetSectionTutoPic", "Pictures", new  {id="naturalmaterial"})" role="button">
                            <img class="img-responsive grow-big" src="~/Content/Images/naturalmaterial.png" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a type="button" class="btn-toys" href="@Url.Action("SetSectionTutoPic", "Pictures", new  {id="cardboard"})" role="button">
                            <img class="img-responsive grow-big" src="~/Content/Images/cardboard.png" />
                        </a>
                    </td>
                    <td>
                        <a type="button" class="btn-toys" href="@Url.Action("SetSectionTutoPic", "Pictures", new  {id="printables"})" role="button">
                            <img class="img-responsive grow-big" src="~/Content/Images/printables.png" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a type="button" class="btn-toys" href="@Url.Action("Rewards", "Home", new  {id="rewards"})" role="button">
                            <img class="col-lg-8 col-md-8 col-sm-8 col-xs-8 img-responsive grow-small" src="~/Content/Images/rewards.png" />
                        </a>
                    </td>
                </tr>
            </table>

        </div>

    </div>
</div>
