<div class="index-body">
    <a class="btn-natural-toys grow" href="@Url.Action("SetSectionTutoPic", "Pictures", new  {id="naturalmaterial"})"></a>
    <a class="btn-paper-toys grow" href="@Url.Action("SetSectionTutoPic", "Pictures", new  {id="paper"})"></a>
    <a class="btn-printables-toys grow" href="@Url.Action("SetSectionTutoPic", "Pictures", new  {id="printables"})"></a>
    <a class="btn-cardboard-toys grow" href="@Url.Action("SetSectionTutoPic", "Pictures", new  {id="cardboard"})"></a>
    <a class="btn-rewards grow" href="@Url.Action("Rewards", "Home", new  {id="rewards"})"></a>

    <div class="sub-menu">
        @Html.ActionLink("Начало", "Index", "Home")
        @Html.ActionLink("Галерия", "Gallery", "Home")
        @Html.ActionLink("Награди", "Rewards", "Home")
        @Html.ActionLink("Печеливши", "Winners", "Home")
        @Html.ActionLink("Правила", "Rules", "Home")
    </div>
</div>